header {
	height: 260px;
	background-color: ;
}

.container-logo {
	width: 100%;
	height: 100px;
	display: grid;
	margin: 0 auto;
	justify-content: center;
}

.container-title {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 10px;
}

.container-title h1 {
	align-items: center;
	justify-content: center;
  color: #f1ecff;;
  font-size: 30px;
  font-weight: bold;
}

.pokemonGo {
	width: 200px;
	margin: 30px auto;
}

.pokebola {
	width: 30px;
	align-items: center;
	justify-content: center;
}
